{
	"$schema": "node_modules/wrangler/config-schema.json",
	"name": "vps-init",
	"compatibility_date": "2026-03-23",
	"compatibility_flags": [
		"nodejs_compat"
	],
	"main": "@tanstack/react-start/server-entry",
	"observability": {
		"enabled": true,
	},
  /** 
  * Run `wrangler whoami` to get your account id once you are logged in with `wrangler login`
  */
	"account_id": "<your-cloudflare-account-id>",
  "vars": {
    "VITE_POSTHOG_KEY": "<your-posthog-key> (optional, only needed if you want to use PostHog for analytics)"
  }
}