.header {
	display: flex;
	align-items: center;
	height: var(--header-height);
	border-bottom: 1px solid
		light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-5));
	position: sticky;
	top: 0;
	z-index: 100;
	background-color: alpha(var(--mantine-color-body), 0.5);
	backdrop-filter: blur(10px);
}
